html{
    background-color: #f8ecf3;
    
    font-family: 'Arvo', serif;
    text-align: center;
}

h1{
    font-family: 'Comfortaa', cursive; 
}

.boxed{
    border: 2px solid rgb(148, 4, 93);
    border-radius: 5px;
}