<h3>Log In</h3>
<form action="/login" method="POST">
<p>Please log in to check out movies and write your reviews.</p>
<br>
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Log In">
    
    <% if @failed %>
        <p class="danger">Your username/password combo was incorrect</p>
    <% end %>
</form>