<h3>Sign Up</h3>
<form action="/signup" method="POST">
<P>Please sing up to check out movies and write your reviews.</p>
<br>
    <input type="text" name="username" placeholder="Username:">
    <input type="text" name="password" placeholder="Password:">
    <inpuy type="submit" value="Sign Up">
</form>