<h2>Write your review.</h2>
<form method="/review/new" action="POST">
   Movie Name : <input type="text" name="movie_name">
   <br><br>
   Review : <input type="text" name="review">
   <br><br>
   Rate : 1<input type="radio" name="rate" value="1">
         2<input type="radio" name="rate" value="2">
         3<input type="radio" name="rate" value="3">
         4<input type="radio" name="rate" value="4">
         5<input type="radio" name="rate" value="5">
   <br><br>
   <input type="submit" value="Submit">
</form>