<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <h1 class="boxed">MOVIEVIEW</h1>
   
    <br>

    <%= yield %>
    
    <br>

    <% if logged_in? %>
       
         <form action="/logout" method="POST">
             <input type="hidden" name="_method" value="delete">
             <input type="submit" value="Log Out">
         </form>
    <% end %>

    
    
</body>
</html>